{% extends 'base.html' %}

{% block css %}
<!-- Підключаємо саме posts.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}


{% block content %}
<h1>Список постів</h1>

<a href="{{ url_for('post_bp.create_post') }}" class="btn btn-success add-post-btn">Add Post</a>

<div class="container">
    <div class="posts-grid">
        {% for post in posts %}
        <div class="post-card">
            <div class="post-image">
                <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Post Image">
            </div>
            <div class="post-content">
                <h2>{{ post.title }}</h2>
                <p class="post-snippet">{{ post.content[:100] }}...</p>
                <p class="post-meta">{{ post.category }} | {{ post.posted.strftime('%Y-%m-%d') }}</p>
                <a href="{{ url_for('post_bp.post_detail', id=post.id) }}" class="btn btn-light full-width">Детальніше</a>
            </div>
        </div>
        {% else %}
        <p>Пости відсутні.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
