{% extends 'base.html' %}
{% block content %}
<section class="text-center mb-4">
    <img src="{{ url_for('static', filename='images/photo.jpg') }}" class="rounded-circle shadow-sm mb-3" width="160" height="160" alt="Моє фото">
    <h1>Назарій Цюняк</h1>
    <p class="lead text-muted">Студент. Вивчаю: | Python / Flask / SQL</p>
</section>

<section id="about" class="mb-5">
    <h2>Про себе</h2>
    <p>Мене звати Цюняк Назарій. Прагну створювати зручні, ефективні й сучасні інтерфейси з використанням Flask, Bootstrap і баз даних SQL Server. Активно навчаюся новим технологіям і люблю вирішувати складні технічні задачі.Прагну стати високопрофесійним програмістом та конкурентоспроможним фахівцем в ІТ-сфері.</p>
</section>

<section id="education" class="mb-5">
    <h2>Освіта</h2>
    <ul>
        <li><strong>Карпатський національний університет імені Василя Стефаника </strong> — Інженерія програмного забезпечення</li>
    </ul>
</section>

<section id="skills" class="mb-5">
    <h2>Навички</h2>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Python (Flask)</li>
                <li>HTML5, CSS, JavaScript</li>
                <li>Bootstrap, Jinja2</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li>GitHub, GitLab</li>
                <li>SQL Server</li>
                <li>Qt, C++</li>
            </ul>
        </div>
    </div>
</section>

<section id="projects" class="mb-5">
    <h2>Проекти</h2>
    <ul>
        <li><strong>Qt-калькулятор</strong> — настільна програма для математичних обчислень.</li>
        <li><strong>COCOMO калькулятор</strong> — вебінструмент для оцінки складності проєктів.</li>
    </ul>
</section>

<section id="technologies" class="mb-5">
    <h2>Технології</h2>
    <p>Працюю з інструментами VS Code, GitHub,Figma,SQL Server Management. </p>
</section>
{% endblock %}
